/*.Item1{
	grid-area: Header;
}*/
.Input1{
	grid-area: Header;
}
.Input2{
	grid-area: name;
}
.Input3{
	grid-area: lastname;
}
.Input4{
	grid-area: datepicker;
}

.Input5{
	grid-area: HistoryTable;
}

#CitizenBtn{
	grid-row-start: 5;
	grid-column-start: 2;

}
#CitizenViewBtn{
	grid-row-start: 4;
	grid-column-start: 2;

}


.EditCitizenWrapper{
	margin-top: 30px;
	background: whitesmoke;
	border-radius: 5px 5px 5px 5px;
	padding: 20px;
	box-shadow: 5px 5px 5px 5px #5e606e;
}
.grid-containerEditCitizen{
	display: grid;
	grid-template-areas: 
		' Header Header Header '
		' name lastname datepicker '
		' HistoryTable HistoryTable HistoryTable ';
		
	gap: 40px;
	padding: 5px;
}

.grid-containerEditCitizen div{
		text-align: center;
		border: solid;
		box-shadow: 1px 1px 1px 1px #5e606e;

		border-color: #d8e0e8;
		border-radius:10px 10px 10px 10px ;
		padding:5px 0;
		font-size: 20px;

}
.grid-containerEditCitizen input{
	width: 100%;
	border: none;
	color: #5e606e;
	background-color: transparent;
}

.grid-containerEditCitizen h2{
	font-size: 2.1em;
	color: #5e606e;
}
.grid-containerEditCitizen table {
  background-color: #5e606e;
  color: whitesmoke;
}

.grid-containerEditCitizen tr:nth-child(even) {
  background-color: whitesmoke;
  color: #5e606e;
}
